.orange {
  color: orange;
}

.profile {
  position: relative;
  width: 300px;
  text-align: center;
  padding: 1rem;
  background-color: whitesmoke;
  border-radius: 20px;
  margin-bottom: 1rem;
  box-shadow: 9px 10px 29px -5px rgba(176, 170, 170, 0.75);
  -webkit-box-shadow: 9px 10px 29px -5px rgba(176, 170, 170, 0.75);
  -moz-box-shadow: 9px 10px 29px -5px rgba(176, 170, 170, 0.75);
}

.photo {
  width: 200px;
  height: 200px;
  border-radius: 100%;
}

.avartar {
  position: relative;
  width: 200px;
  height: 200px;
}

.new {
  position: absolute;
  top: 10%;
  left: 70%;
  font-weight: bold;
  padding: 0.2rem 0.5rem;
  border-radius: 20px;
  text-transform: uppercase;
  background-color: skyblue;
}
